.instructions {
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    font-size: 24pt;
}

h1 {
    font-size: 48pt;
}